[Unit]
Description=Fetch Keywords from call records
After=llama_keyword_extractor.service
Requires=llama_keyword_extractor.service

[Service]
Type=simple
ExecStart=/bin/bash -c \
'log_file="/root/answering-machine-detection/src/keyword_update/log/kwe-$(date +%%Y-%%m-%%d-%%H).txt" && source /root/.bashrc && sleep 30; /root/venv/bin/python /root/answering-machine-detection/src/keyword_update/fetch_keywords.py --domain "badenbpo.info" --port "443" > "$log_file" 2>&1'

RestartSec=3
Environment="PATH=/usr/local/bin:/usr/bin"
StandardOutput=journal
RemainAfterExit=false
User=root
